/* 
-------------------------------------------------------
                styling for index.html
------------------------------------------------------- 
*/

/* general styling for index page */
.index-main {
    background-color: black; 
    color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center; 
}

/* homepage title */
.index-heading {
    font-size: 70px;
    margin-bottom: 20px;
    color: black;
    background-color: greenyellow;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

/* homepage paragraphs*/
.index-paragraph {
    font-size: 30px;
    margin-bottom: 40px;
    color: black;
}

/* list describing the challenges */
.index-list {
    font-size: 20px;
    margin-bottom: 40px;
    color: black;
}

/* container where all of the challenge buttons sit */
.challenge-container {
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: center; 
    font-size: 20 px; 
}

/* round challenge buttons */
.challenge-button {
    color: greenyellow;
    background-color: black;
    border: 2px solid greenyellow;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-items: center; 
    font-size: 20px;
    cursor: pointer;
}

/* 
-------------------------------------------------------
                styling for challenge1.html
------------------------------------------------------- 
*/

.challenge1-container {
    display: flex; 
    flex-direction: column;
    gap: 18px;
    padding: 25px;
    background: black; 
    border: 2px solid cyan;
    border-radius: 12px;
    max-width: 650px;
    margin: 40px auto;
}

.challenge1-container h2 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: cyan;
}

.challenge1-container p {
    font-size: 1.1rem;
    text-align: center;
    color: white;
}

/* inputs */
#guessInput,
#decoderInput {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid cyan;
    border-radius: 8px;
    background: black;
    color: white;
    outline: none;
}

/* buttons */
button {
    padding: 10px 18px;
    font-size: 1rem;
    border:none;
    border-radius: 8px;
    cursor: pointer; 
    background: cyan;
    color: black;
    font-weight: bold;
}

button:hover {
    background: lightblue;
}

#hintText, 
#hoverClueText,
#hiddenClueHover {
    background: yello;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}

/* timer + progress bar */
#progressBarContainer {
    width: 100%;
    height: 20px;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 15px;
}

#progressBar {
    height: 100%;
    width: 100%;
    background: cyan;
}

/* result text */
#result {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    color: white;
}

/* caesar cipher + decoder output */
#cipherText {
    color: green;
    font-weight: bold;
}

#decoderOutput {
    color: green;
    font-weight: bold;
}

/* 
-------------------------------------------------------
                styling for challenge2.html
------------------------------------------------------- 
*/

.challenge2-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 25px;
    background: black;              /* card background */
    border: 2px solid cyan;         /* card border */
    border-radius: 12px;
    max-width: 700px;
    margin: 40px auto;
}

.challenge2-container h2 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: cyan;
}

.challenge2-container p {
    font-size: 1.1rem;
    text-align: center;
    color: white;
}

/* email box */
.email-box,
.email-box p {
    background: black;
    color: white;
    padding: 15px;
    border: 2px solid cyan;
    border-radius: 8px;
    min-height: 100px;
    font-family: monospace;
    margin: 10px 0;
}

/* buttons are the same as challenge 1 */
button {
    padding: 10px 18px;
    font-size: 1rem;
    border:none;
    border-radius: 8px;
    cursor: pointer; 
    background: cyan;
    color: black;
    font-weight: bold;
    transition: 0.25s
}

button:hover {
    background: lightblue;
}

/* Arranges the buttons side by side */
.button-row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* results */
#resultMessage {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* email counter and timer */
#emailCounter,
#timerDisplay2 {
    text-align: center;
    font-weight: bold;
    color: white;
}

/* 
-------------------------------------------------------
                styling for challenge3.html
------------------------------------------------------- 
*/

.challenge3-container {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 25px;
    background: black; 
    border: 2px solid cyan; 
    border-radius: 12px;
    max-width: 700px;
    margin: 40px auto;
}

.challenge3-container h2 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: cyan;
}

.challenge3-container p {
    font-size: 1.1rem;
    text-align: center;
    color: white; 
}

/* the file box */
.file-box, 
.file-box p {
    background: black;
    color: white;
    padding: 15px;
    border: 2px solid cyan;
    border-radius: 8px;
    min-height: 100px;
    font-family: monospace;
    margin: 10px 0;
} 

/* buttons are the same as challenge 1 */
button {
    padding: 10px 18px;
    font-size: 1rem;
    border:none;
    border-radius: 8px;
    cursor: pointer; 
    background: cyan;
    color: black;
    font-weight: bold;
    transition: 0.25s
}

button:hover {
    background: lightblue;
}

/* Arranges the buttons side by side */
.button-row {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* results */
#resultMessage3 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* file counter and timer and mistakes */
#fileCounter,
#timerDisplay3,
#mistakeCounter {
    text-align: center;
    font-weight: bold;
    color: white;
}