.index-main {
    background-color: black; 
    color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center; 
}

.index-heading {
    font-size: 70px;
    margin-bottom: 20px;
    color: black;
    background-color: greenyellow;
    border: 4px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
}

.index-paragraph {
    font-size: 30px;
    margin-bottom: 40px;
    color: black;
}

.index-list {
    font-size: 20px;
    margin-bottom: 40px;
    color: black;
}

.challenge-container {
    display: flex;
    gap: 200px;
    flex-wrap: wrap;
    justify-content: center; 
    font-size: 20 px; 
}

.challenge-button {
    color: greenyellow;
    background-color: black;
    border: 2px solid greenyellow;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-items: center; 
    font-size: 20px;
    cursor: pointer;
}
